    body {
        background-color: honeydew;
        "

    }

    hr {
        border-style: none;
        border-top-style: dotted;
        border-color: gray;
        border-width: 5px;
        width: 5%;
    }

    h1 {
        color: darkgray;
    }

    h3 {
        color: #66BFBF;
    }

    a{
        text-decoration: none;
    }
